<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Huge Gif</title>
</head>
<body>
  <div id="container"></div>

  <script type="text/template" id="tpl-index">
    <h1>Hello Word</h1>
  </script>

  <script type="text/template" id="tpl-link">
    <h1>Link Page</h1>
    <p><%= link.get('data').url %></p>
  </script>

  <script type="text/template" id="tpl-links-list">
    <h1>Subreddit</h2>
    Links found: <%= links.length %>
    <ul>
      <% _.each(links, function(link){ %>
        <li>
          <a href=
            <%= '#/r/'+link.get('data').subreddit+'/'+link.get('data').id %> >
            <%= link.get('data').title %>
          </a>
        </li>
      <% }); %>
    </ul>
  </script>
  <script src="js/lib/jquery-1.10.2.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
