<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Huge Gif</title>
</head>
<body>
  <div id="container"></div>

  <script type="text/template" id="tpl-index">
    <h1>Hello Word</h1>
    <a href="#/r/gif">/r/gif</a>
  </script>

  <script type="text/template" id="tpl-link">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
    <h1>
      <a href=<%= 'http://reddit.com' + link.get('permalink')  %>>
        <%= link.get('title') %>
      </a>
    </h1>
    <img id="hugegif" src="<%= link.get('url') %>">
  </script>

  <script type="text/template" id="tpl-imgur-link">
    <h1>
      Title goes here <%= image %>
    </h1>
    <img src=<%= 'http://i.imgur.com/' + image + '.gif' %>>
  </script>

  <script type="text/template" id="tpl-links-list">
    <h1>Subreddit</h2>
    Links found: <%= links.length %>
    <ul>
      <% _.each(links, function(link){ %>
        <li>
          <a href=
            <%= '#/r/'+link.get('subreddit')+'/'+link.get('id') %> >
            <%= link.get('title') %>
          </a>
        </li>
      <% }); %>
    </ul>
  </script>

  <script type="text/template" id="tpl-not-found">
    <h1>Not Found</h1>
  </script>
  <script src="js/lib/jquery-1.10.2.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
