<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Huge Gif</title>
</head>
<body>
  <div id="container"></div>

  <script type="text/template" id="tpl-index">
    <h1>Hello Word</h1>
  </script>

  <script type="text/template" id="tpl-link">
    <h1>Link Page</h1>
    <p><%= link.get('data').url %></p>
  </script>

  <script type="text/template" id="tpl-links-list">
    <h1>Subreddit</h2>
    Links found: <%= links.length %>
    <ul>
      <% _.each(links, function(link){ %>
        <li>
          <a href=
            <%= '#/r/'+link.get('data').subreddit+'/'+link.get('data').id %> >
            <%= link.get('data').title %>
          </a>
        </li>
      <% }); %>
    </ul>
  </script>
  <script src="js/lib/jquery-1.10.2.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script>
    // MODELS
    var Link = Backbone.Model.extend({
        initialize: function(obj) {
            // console.log("Created: ",obj.data.title);
        }
    });

    var LinksList = Backbone.Collection.extend({
        initialize: function(subreddit){
          this.subreddit = subreddit
        },
        model: Link,
        // subreddit: 'gif', // Default sub
        sync: function(method, model, options) {
            var params = _.extend({
                type: 'GET',
                dataType: 'jsonp',
                url: model.url(),
                processData: false
            }, options);

            return $.ajax(params);
        },
        parse: function(response) {
            return response.data.children;
        },

        url: function() {
            return "http://www.reddit.com/r/" + this.subreddit + "/.json?limit=10&after=&jsonp=?";
        }
    });

    var linksList = new LinksList();

    // VIEWS
    var LinkView = Backbone.View.extend({
      el: '#container',
      initialize: function(){
        this.render();
      },
      render: function(id){
        var link = linksList.find(function(model) {
          return model.get('data').id === id;
        })
        console.log('link:',link);
        if(typeof link === 'undefined') return;
        var template = _.template( $('#tpl-link').html(), {link: link} );
        console.log(template);

        this.$el.html(template);
      }

    });

    var LinksListView = Backbone.View.extend({
      el: '#container',
      initialize: function(subreddit) {
        if(typeof subreddit === 'undefined' || subreddit === '') return;
        this.render(subreddit);
      },
      render: function(subreddit) {
        var _this = this
        linksList = new LinksList(subreddit);
        linksList.fetch({
          success: function(linksList){
            var template = _.template( $('#tpl-links-list').html(), {links: linksList.models} );
            _this.$el.html(template);
          }
        });
      }
    });

    var IndexView = Backbone.View.extend({
      el: '#container',
      initialize: function(){
        this.render();
      },
      render: function(){
        var template = _.template( $('#tpl-index').html() );
        this.$el.html(template);
      }
    });

    var linkView = new LinkView();
    var linksListView = new LinksListView();
    var indexView = new IndexView();

    // ROUTER
    var AppRouter = Backbone.Router.extend({
      routes:{
        "":"index",
        "r/:sub":"subreddit",
        "r/:sub/:id":"link"
      },
      index: function(){
        indexView.render();
      },
      subreddit: function(sub){
        linksListView.render(sub);
      },
      link: function(sub, id){
        console.log(sub,'/',id);
        linkView.render(id);
      }

    });

    // GO BABY GO!
    var router = new AppRouter();

    Backbone.history.start();

  </script>
</body>
</html>
